<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ValidationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Foos/ValidationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ValidationService"
                contract="ValidationService" name="BasicHttpBinding_ValidationService" />
        </client>
    </system.serviceModel>
</configuration>