<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITodoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49393/TodoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITodoService" contract="ITodoService"
                name="BasicHttpBinding_ITodoService" />
        </client>
    </system.serviceModel>
</configuration>